body {
    background-color: #ccc
}

.drop-container {
    width: 75%;
    border: 2px dashed #0087F7;
    background-color: #fff;
    margin: 0 auto;
}

.drop-container .drop-field {
    position: relative;
    padding: 50px 50px;
}

.drop-container .drop-field input[type="file"] {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    z-index: 100;
}

.drop-container .drop-field #files_counter {
    font-size: 30px;
    font-weight: bold;
}

.drop-container .drop-field #file-save {
    z-index: 101;
    position: absolute;
}
.file-upload-box {
    position: relative;
    width: max-content;
    margin: 50px auto;
    padding: 50px;
    border: 3px dashed violet;
}
.drop-container .drop-field .df-msg {
    text-align: center;
    width: 100%;
}

.drop-container .drop-field .df_preview {
    display: inline-block;
    position: relative;
    width: 21%;
    height: 178px;
    margin: 2%;
}

.drop-container .drop-field .df_preview .df_details {
    text-overflow: ellipsis;
    overflow: hidden;
    background: #90ee90;
    color: #000;
    z-index: 100;
    position: absolute;
    width: 80%;
    left: 0;
    right: 0;
    top: 40%;
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
    opacity: 0;
}


.drop-container .drop-field .df_preview.df-success:hover .df_details {
    opacity: 1;
}

.drop-container .drop-field .df_preview .error-msg {
    position: absolute;
    top: 0;
    background-color: #ff3333;
    color: #fff;
    text-align: center;
}

.drop-container .drop-field .df_preview .df-success-mark,
.drop-container .drop-field .df_preview .df-error-mark {
    position: absolute;
    display: block;
    top: 0;
    opacity: 0;
    left: 0;
    right: 0;
    text-align: center;
    
}

.drop-container .drop-field .df_preview .df-success-mark {
    animation: success 2s;
    animation-iteration-count: 1;
    z-index: 101;
}

.drop-container .drop-field .df_preview .df-error-mark {
    animation: error 1s;
    animation-fill-mode: forwards;
}

.drop-container .drop-field .df_preview .df-image {
    width: 100%;
    height: 178px;
    position: absolute;
    top: 0px;
}

.drop-container .drop-field .df_preview .df-image img {
    width: 100%;
    height: 100%;
    border-radius: 20%;
    object-fit: contain;
}

@keyframes success {
    0% {
        top: 80%;
        opacity: 0;
    }
    50% {
        top: 30%;
        opacity: 1;
    }
    100% {
        top: -20%;
        opacity: 0;
    }
}

@keyframes error {
    0% {
        top: 110%;
        opacity: 0;
    }
    100% {
        top: 40%;
        opacity: 1;
    }
}

.drop-container .drop-field [class^="df-error-mark"]:before,
.drop-container .drop-field [class*="df-success-mark"]:before {
    font-size: 70px;
}

.drop-container .drop-field [class*="df-error-mark"]:before {
    color: #ff3333;
}

.drop-container .drop-field [class*="df-success-mark"]:before {
    color: #90ee90;
}

.drop-container .drop-field .progress_bar {
    position: relative;
    top: 46%;
    box-sizing: border-box;
    width: 80%;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #656565;
    margin: 0 auto;
    height: 18px;
    font-size: 14px;
    z-index: 100;
    clear: both;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
}
.drop-container .drop-field .df-error .progress_bar {
    display: none;
}

.drop-container .drop-field .progress_bar.trans_completed {
    opacity: 0;
    -moz-transition: opacity 3s linear;
    -o-transition: opacity 3s linear;
    -webkit-transition: opacity 3s linear;
}

.drop-container .drop-field .progress_bar.loading {
    opacity: 1;
}

.drop-container .drop-field .progress_bar .percent {
    background-color: #656565;
    position: absolute;
    top: -1px;
    width: 0%;
    height: 18px;
    border-radius: 20px;
}

.drop-container .drop-field .progress_bar.progress_error {
    background-color: #ef4646;
    border: 1px solid #000;
    color: #fff;
}


/*# sourceMappingURL=style.css.map */